<div class="content">
    <!-- 添加的模态框 -->
    <nz-modal [(nzVisible)]="showEditModel" nzTitle="编辑" (nzOnCancel)="showEditModel=false" nzWidth="600px" [nzFooter]="null"
        nzMaskClosable="false" [nzKeyboard]="false" (nzOnCancel)="closeEdit(null)">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="saveEdit()">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="shortName" nzRequired>短名称</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="请输入有效的名称" nzHasFeedback>
                    <input nz-input formControlName="shortName" name="shortName" type="text" id="shortName" [(ngModel)]="nav.shortName">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="longName" nzRequired>长名称</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="请输入有效的名称" nzHasFeedback>
                        <input nz-input formControlName="longName" name="longName" type="text" id="longName" [(ngModel)]="nav.longName">
                    </nz-form-control>
                </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="url" nzRequired>链接地址</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="请输入有效的链接地址" nzHasFeedback>
                    <input nz-input formControlName="url" name="url" type="url" id="url" [(ngModel)]="nav.url">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="level" nzRequired>所属分类</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="请选择所属分类">
                    <nz-cascader [nzOptions]="catesOptions" [nzShowSearch]="true" [(ngModel)]="nav.values" formControlName="values" nzPlaceHolder="请选择分类">
                    </nz-cascader>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="orderValue" nzRequired>排序值</nz-form-label>
                <nz-form-control [nzSpan]="14" >
                    <nz-input-number [(ngModel)]="nav.orderValue" [nzStep]="1" formControlName="orderValue"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="icon" nzRequired>图片</nz-form-label>
                <nz-form-control [nzSpan]="14"  nzErrorTip="请上传图片">
                    <input nz-input formControlName="icon" type="text" [(ngModel)]="nav.icon">
                    <nz-upload class="avatar-uploader" [nzAction]="uploadUrl"
                        nzName="file" nzListType="picture-card" [nzShowUploadList]="false"
                        nzFileType="image/png,image/jpeg,image/gif,image/bmp"
                        nzAccept="image/png,image/jpeg,image/gif,image/bmp" [nzBeforeUpload]="beforeUpload"
                        (nzChange)="handleChange($event)">
                        <ng-container *ngIf="!nav.icon">
                            <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                            <div class="ant-upload-text">点击选择</div>
                        </ng-container>
                        <img *ngIf="nav.icon" [src]="nav.icon" class="image" />
                    </nz-upload>
                    <nz-alert nzType="info" nzMessage="图片最大300KB,建议图片宽高比为1：1,像素为20x20" nzShowIcon></nz-alert>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="24" style="text-align: center;margin-top: 30px;">
                    <button nz-button nzType="primary" [nzLoading]="isOkLoading">保存</button>
                    <button nz-button (click)="closeEdit($event)" style="margin-left: 12px;">取消</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>

    <div class="tableHead" #tableHead>
        <!-- 操作按钮 -->
        <div class="operate-button">
            <button nz-button nzType="primary" nzShape="circle" (click)="refresh()"><i nz-icon
                    nzType="reload"></i></button>
            <button nz-button nzType="primary" (click)="edit(null)">新增</button>
            <button nz-button nzType="danger" (click)="batchDelete()">批量删除</button>
            <nz-cascader [nzOptions]="catesOptions" [nzShowSearch]="true" [(ngModel)]="values" (ngModelChange)="onChanges($event)" nzPlaceHolder="请选择分类">
            </nz-cascader>
            <!-- 搜索表格的过滤条件 -->
            <div class="filter-condition">
                <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixButton">
                    <input type="text" nz-input [(ngModel)]="keyword" placeholder="请输入关键词" (keyup.enter)="search()"/>
                </nz-input-group>
                <ng-template #suffixButton>
                    <button nz-button nzType="primary" nzSize="default" nzSearch (click)="search()">Search</button>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- 表格窗口，包括表格和分页控件 -->
    <div class="table-container">
        <ng-template #totalTemplate let-total> 共 {{ totalCount }} 条 </ng-template>
        <nz-table #basicTable nzBordered [nzData]="tableData" [nzShowTotal]="totalTemplate" [nzFrontPagination]="false"
            [nzLoading]="isLoading" [nzLoadingDelay]="2" [nzPageSizeOptions]="[5,10,20,30,40,50]"
            [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
            [nzTotal]="totalCount" (nzPageIndexChange)="requestList()" (nzPageSizeChange)="requestList()">
            <thead>
                <tr>
                    <th [nzShowCheckbox]="false" [nzWidth]="'70px'">选择</th>
                    <th>图标</th>
                    <th>短名称</th>
                    <th>长名称</th>
                    <th>链接</th>
                    <th [nzWidth]="'20%'">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tableData">
                    <td [nzShowCheckbox]="true" [(nzChecked)]="mapOfCheckedId[data.pkId]">
                    </td>
                    <td>
                        <img class="tableImg" [attr.src]="data.icon"/> 
                    </td>
                    <td>{{data.shortName}}</td>
                    <td>{{data.longName}}</td>
                    <td>
                        {{data.url}}
                    </td>
                    <td>
                        <a (click)="edit(data)">编辑</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a style="color:red;" (click)="delete(data.pkId)">删除</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>